<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a class="logo"><strong>EasyDefine Mvc</strong> for .Net Core</a>
            <nav id="nav">
                <a href="~/">首页</a>
                <a href="/Home/Document">文档</a>
                <a href="https://github.com/shayuxiang/EasyDefineMvc.Net">Git</a>
                <a href="/Home/Document#wfw">微服务</a>
                <a href="/Home/About">关于</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>关于</h2>
                <p> Fast Access Guide </p>
            </header>
            <hr class="major" />
            <h2 id="content">关于这个框架</h2>
            <p>说实话，我是为了省事。同时降低团队成员的开发周期，以便加快任务进度。</p>
            <h2 id="content">关于未来</h2>
            <p>
                由于使用的技术比较偏门,参考资料也比较少。到时候看，能写成什么样我尽力。如果有时间和精力，我会将移植这套编码的方式移植到其他的平台，
                比如普通Framework的，Java的等。并且会提供更多的底层支持，如Sql Server、Oracle等，切入脚本语言的方式进行业务编程等，这些都是有一个
                想法，具体情况再看吧。
            </p>
            <h2 id="content">如何参与/BUG反馈</h2>
            <p>
                联系我就对了，我的QQ是349224536,欢迎技术交流,大牛指导。
            </p>
        </div>
    </section>
</body>
