<!DOCTYPE HTML>
<html>
<head>
    <title>EasyDefine .Net 动态编译API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a class="logo"><strong>EasyDefine Mvc</strong> for .Net Core</a>
            <nav id="nav">
                <a href="~/download/EasyDefine.Demo.rar">DEMO</a>
                <a href="/Home/Document">文档</a>
                <a href="https://github.com/shayuxiang/EasyDefineMvc.Net">Git</a>
                <a href="/Home/Document#wfw">微服务</a>
                <a href="/Home/About">关于</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>一款基于.net standard 的动态编译框架</h1>
            </header>

            <div class="flex ">

                <div>
                    <span class="icon fa-car"></span>
                    <h3>起步</h3>
                    <p>使用标注，自动生成简洁的编码</p>
                </div>

                <div>
                    <span class="icon fa-camera"></span>
                    <h3>服务</h3>
                    <p>即时的本地类库生成，快速调用</p>
                </div>

                <div>
                    <span class="icon fa-bug"></span>
                    <h3>下载</h3>
                    <p>轻引用,低耦合,高效率的第三方库</p>
                </div>

            </div>

            <footer>
                <a href="/Home/Fast" class="button">快速上车</a>
            </footer>
        </div>
    </section>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
        <div class="inner">
            <div class="flex flex-2">
                <article>
                    <div class="image round">
                        <img src="images/pic01.jpg" alt="Pic 01" />
                    </div>
                    <header>
                        <h3>几乎为零的编码量<br /></h3>
                    </header>
                    <p>AOP的编码风格，让我们告别那千遍一律调试<br />高效的封装，让我们告别那繁杂的配置和底层细节<br />让我们解放双手,更多地把时间留给家人</p>
                    <footer>
                        <a href="/Home/Document" class="button">服务层接入</a>
                    </footer>
                </article>
                <article>
                    <div class="image round">
                        <img src="images/pic02.jpg" alt="Pic 02" />
                    </div>
                    <header>
                        <h3>便捷、安全地数据流转</h3>
                    </header>
                    <p>让我们告别复杂的Model、映射，让系统为我们做这些事<br />让我们忘记CodeFirst、以及一切以业务狗为主角的迭代<br />让我们告别各种语法的优化，让996见鬼去吧!!!</p>
                    <footer>
                        <a href="/Home/Document" class="button">数据层接入</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">


            <div class="copyright">Copyright &copy; 2019.EasyDefine Org All rights reserved.<a target="_blank" href="http://www.easydefine.cn/">www.easydefine.cn</a></div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
